#map-canvas{
	height:80%;
	margin:50px;
	border-radius: 10px;
}
#map-canvas-2{
	height:25%;
	width:35%;
	border-radius:5px;
}
li{
	list-style-type: none;
}

.popover {
    max-height:450px !important;
    max-width:450px !important;
}
